include ../assets/pug/_head
include ../assets/pug/_body
include ../assets/pug/_scripts

- grade = '1º'
- title = 'Español'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .scene_24 .sources .label,
            .scene_24 .targets .label {
                padding: 10px 30px;
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1
                span.grade #{grade}
                | #{title}
            if subtitle.length>1
                h2 #{subtitle}

            +body(60*60)
                template(v-if="i.type=='pregunta25'")
                    .choose
                        .label
                            strong 25.
                            span Une con una línea las palabras que tienen el mismo significado.
                        .options: relational(:key="24" v-model="r[24]" :ref="refCount()" @isright="right++" :sources="['Dinero', 'Camión', 'Gorra']" :targets="['Autobús', 'Cachucha', 'Lana']" :oks="[['s_0', 't_2'], ['s_1', 't_0'], ['s_2', 't_1']]")
                            template(v-slot:source="{source}"): div.label {{source}}
                            template(v-slot:target="{target}"): div.label {{target}}
        +scripts
            script.

                app.$set(app, 'scenes', [
                    {
                        instruction: 'Selecciona la respuesta correcta. <p>Lee el texto y contesta las preguntas 1, 2, 3 y 4.</p>',
                        popper: '<img src="aimg/1.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿Quién fue el primer presidente de México?',
                        opcionesImgsPrefix: '1',
                        opciones: [],
                        respuestaNum: 2

                    },
                    {
                        instruction: 'Selecciona la respuesta correcta. <p>Lee el texto y contesta las preguntas 1, 2, 3 y 4.</p>',
                        popper: '<img src="aimg/1.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿Cuánto tiempo duró el mandato de Guadalupe Victoria?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '4 años.',
                        '5 años.',
                        '6 años.'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Selecciona la respuesta correcta. <p>Lee el texto y contesta las preguntas 1, 2, 3 y 4.</p>',
                        popper: '<img src="aimg/1.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Fue una de las acciones del primer presidente de México.',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Construir muchas carreteras.',
                        'Crear un banco.',
                        'Mejorar la educación.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Selecciona la respuesta correcta. <p>Lee el texto y contesta las preguntas 1, 2, 3 y 4.</p>',
                        popper: '<img src="aimg/1.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿En qué estado se ubica el municipio que Ileva el nombre de Guadalupe Victoria?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Hidalgo.',
                        'Puebla.',
                        'Sinaloa.'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Elige la imagen que representa a la niña que se describe a continuación. <img src=aimg/5.png>',
                        opcionesImgsPrefix: '5',
                        opciones: [],
                        respuestaNum: 0

                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la pregunta que le harías a un familiar para saber cómo te comportabas de bebé?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '¿Cuándo nació mi papá?',
                        '¿Cómo me comportaba de pequeño?',
                        '¿Cuándo nació mi mamá?'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es el nombre del animal que se forma con las letras del recuadro. <img src=aimg/7.png>',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Abejorro.',
                        'Águila.',
                        'Avestruz.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 8, 9, 10 y 11.',
                        popper: '<img src="aimg/8.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Es una forma diferente de llamarle a un <strong>amigo</strong>.',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Chamaco.',
                        'Niño.',
                        'Cuate.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 8, 9, 10 y 11.',
                        popper: '<img src="aimg/8.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿A qué lugar se refiere el niño con la palabra chante?',
                        opcionesImgsPrefix: '9',
                        opciones: [],
                        respuestaNum: 0

                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 8, 9, 10 y 11.',
                        popper: '<img src="aimg/8.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿Quién preparó los lonches de jamón?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Su tía.','Su mamá.', 'Su hermana.'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Observa la imagen y contesta las preguntas 8, 9, 10 y 11.',
                        popper: '<img src="aimg/8.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Es otra forma de llamar a los lonches.',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Tortas.',
                        'Sándwiches.',
                        'Pambazos.'
                        ],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál de las siguientes frases usarías para saludar a la directora de tu escuela?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '¡Qué onda!, directora.',
                        '¡Hola!, dire.',
                        '¡Buenos días!, directora.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Es la pregunta que le harías a una persona mayor para saber dónde hay una papelería.',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '¡Qué onda, seño!, ¿sabe dónde puedo encontrar una pape?',
                        'Disculpe, señora, ¿sabe dónde puedo encontrar una papelería?',
                        '¡Amiga!, ¿sabes dónde puedo encontrar una papelería?'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Con quién utilizarías la expresión ¡qué onda! como un saludo?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Con un amigo.',
                        'Con mi maestra.',
                        'Con mi abuelita.'
                        ],
                        respuestaNum: 0
                    },
                    {
                        instruction: 'Lee el cuento y contesta las preguntas 15, 16, 17, 18 y 19.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿Quién dice a dónde se dirigía la señorita Jirafa?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'El señor Topo.',
                        'El narrador.',
                        'La coneja.'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: 'Lee el cuento y contesta las preguntas 15, 16, 17, 18 y 19.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Es el personaje principal del cuento.',
                        opcionesImgsPrefix: '16',
                        opciones: [],
                        respuestaNum: 2

                    },
                    {
                        instruction: 'Lee el cuento y contesta las preguntas 15, 16, 17, 18 y 19.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Es una de las preguntas que le hizo la señorita Jirafa al señor Topo.',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '¿Qué tal está esa lechuga?',
                        '¿Qué días vende nueces?',
                        '¿Qué está vendiendo en ese costal?'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: 'Lee el cuento y contesta las preguntas 15, 16, 17, 18 y 19.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: '¿Cómo se siente la señorita Jirafa cuando va al mercado?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Alegre.',
                        'Enojada.',
                        'Triste.'
                        ],
                        respuestaNum: 0
                    },
                    {
                        instruction: 'Lee el cuento y contesta las preguntas 15, 16, 17, 18 y 19.',
                        popper: '<img src="aimg/15.png" class="img-fluid">',
                        type: 'choose',
                        pregunta: 'Es la entonación que debes hacer al leer la siguiente frase del cuento. <img src=aimg/19.png>',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'De sorpresa.',
                        'De enojo.',
                        'De alegría.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuántas palabras hay en la siguiente oración? <img src=aimg/20.png>',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '8 palabras.',
                        '6 palabras.',
                        '5 palabras.'
                        ],
                        respuestaNum: 0
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: 'Elige la sílaba que completa la palabra de la siguiente oración. <img src=aimg/21.png>',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'po',
                        'sa',
                        'mi'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la palabra que se puede escribir en lugar de felizmente?',

                        opcionesImgsPrefix: null,
                        opciones: [
                        'Rápidamente.',
                        'Groseramente.',
                        'Alegremente.'
                        ],
                        respuestaNum: 2
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuántas palabras tiene la siguiente oración cuando la separas correctamente? <img src=aimg/23.png>',

                        opcionesImgsPrefix: null,
                        opciones: [
                        '2 palabras.',
                        '5 palabras.',
                        '8 palabras.'
                        ],
                        respuestaNum: 1
                    },
                    {
                        instruction: '',
                        popper: '',
                        type: 'choose',
                        pregunta: '¿Cuál es la palabra que está bien escrita?',
                        opcionesImgsPrefix: null,
                        opciones: [
                            'Isabel.',
                            'ruben.',
                            'omar.'
                        ],
                        respuestaNum: 0

                    }, {
                    instruction: '',
                    popper: '',
                    type: 'pregunta25',
                    pregunta: 'Une con una línea las palabras que tienen el mismo significado.',

                    opcionesImgsPrefix: null,
                    opciones: []
                    }

                    
                    
                ])